:root{
    --main_body_width: 95vw;
}
/* Set Scrollbar */
::-webkit-scrollbar {
    width: 1px;
}

.main_body{
    z-index: 2;
    height: 80vh;
    position: fixed;
    top: 100px;
    left: calc(50% - var(--main_body_width)/2);
    right: calc(50% - var(--main_body_width)/2);
    display: flex;
}

.main_body> * {
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--primary_color);
    width: var(--secondary_color);
    z-index: 1;
    background-color: var(--secondary_color);
}
/* Side Option */
.side_bar{
    font-family: var(--primary_font);
}
#side_bar_1{
    flex: 0.5;
}
/* Side bar 2 template Opt */
#side_bar_2{
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    overflow-y: scroll;
}
#change_template_opt{
    height: fit-content;
}
/* Img Change Button */
.btn_left{
    left: 10px;
}
.btn_right{
    right: 10px;
}
.btn_chng{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: calc(50% - 15px);
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 17.5px;
    padding: 5px;
    z-index: 3;
}
.btn_chng svg{
    font-size: 30px;
}
.temp_opt_img{
    width: 220px;
    z-index: -1;
    margin: 0px 10px;
    transform: translateX(-10px);
    scroll-snap-align: center;
}
.template_inner_cont{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #979797;
    border-radius: 10px;
    width: 99%;
    margin: auto;
}
.cont_opt_img{
    width: 220px;
    display: flex;
    margin: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    background: #fff;
}
.img_active{
    scale: 1.1;
    outline: 2px #000 solid;
    border-radius: 5px;
}
/* Main Content */
.main_cont{
    font-family: var(--primary_font);
    flex: 1.5;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main_cont .form_cont_outter{
    width: 100%;
    display: -webkit-box;
}
.main_cont .form_cont{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.main_cont h4{
    padding: 20px;
}
.main_cont .label_main_cont{
    padding: 20px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.781);
}
.main_cont_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    padding-bottom: 0px;
    margin-top: 0px!important;
}
.main_cont::-webkit-scrollbar{
    width: 5px;
}
.main_cont::-webkit-scrollbar-thumb{
    background: #000!important;
    border-radius: 15px;
}
.main_cont::-webkit-scrollbar:hover{
    background: #f30!important;
    border-radius: 15px;
    width: 10px!important;
}

.main_cont_form .form_input{
    display: flex;
    margin: 5px;
}
.main_cont_form .form_input label{
    flex: 1;
    text-align: right;
    padding-right: 10px;
    height: fit-content;
    margin: auto;
    text-transform: capitalize;
    font-size: 12px;
}
.main_cont_form .form_input input{
    flex: 1;
    height: 50px;
    border: 0px;
    box-shadow: 0px 2px 0px #000;
    font-size: 18px;
    margin: auto;
}
.main_cont_form .form_input input:focus{
    outline: none;
}


/* Button Image */

.side_bar .cv_img{
    width: 25px;
}
.side_bar .inner_cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    font-size: 12px;
}
.side_bar .inner_item{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    border: 1px var(--primary_color) solid;
    text-align: center;
    transform: scale(1);
    transition: all 0.05s ease-in-out;
    text-decoration: none;
    color: var(--primary_color);
}
.side_bar .inner_item:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.side_bar .img_text{
    font-size: 11px;
}
.side_bar h2,
.side_bar h4{
    margin: 30px 20px 5px 20px;
    font-size: 26px;
}
.side_bar p{
    margin: 5px 20px 5px 20px;
    opacity: 0.8;
}

.temp_opt_cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
.temp_opt_btn{
    border: 1px #000 solid;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.btn_change_deactivate{
    z-index: 3;
}
.temp_opt_cont .temp_opt_btn img{
    width: 30px;
}

.template_img_cont{
    border: 1px #000 solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 5px;
    border-radius: 10px;
}
.template_img_cont img{
    width: 50px;
    margin: 5px auto;
    box-shadow: 0px 0px 3px #000;
    border-radius: 15px;
}
.template_img_cont .temp_img_btn{
    border: 0;
    background: transparent;
}

.change_template_color{
    position: absolute;
    right: 50px;
    top: 30%;
}

.temp_color_input{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px;
    margin: 10px;
    margin-top: 25px;
}
.chng_temp_clr_btn{
    font-size: 30px;
    position: absolute;
    left: 2px;
    top: 2px;
}

